# Backend
backend/venv/
backend/__pycache__/
backend/.env
*.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Geral
.env
__pycache__/
*.pyc
backend/.venv/
.pytest_cache/
*.log
frontend/test-results/
frontend/playwright-report/

# Arquivos órfãos
package-lock.json
